.authentication{
    display: flex;
}
.content-body {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-gap: 1rem;
    margin-top: 7rem;
    padding: 2rem;
}
.aside-container {
    border-right: 1px solid #00000038;;
    /* box-shadow: 2px 0px 3px 0px black; */
}
.cateogory li a {
    color: var(--secondary-text-color);    
}
.content-container {
    display: grid;    
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    width: 100%;
}
/********** CARDS ************/
.card-container--verticle {
    width: 12rem;
    height: 16rem;
}
.card-desc .price,
.card-desc .title {
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--paleblue);
    line-height: 1rem;
}
.card-desc .title {    
    font-weight: 200;
}
.card-desc .author {
    font-size: 0.6875rem;
    line-height: 1.125rem;
}
.card-footer {
    justify-content: space-evenly;
    height: auto;
    font-size: 1.125rem;
    font-weight: 100;
    padding: 0;
}
.card-img-container {
    height: 12rem;
}
.card-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.footer-btn {
    color: var(--royalblue-bg);
    font-weight: 200;
}
.aside {
    position: fixed;
}
.product-card-container {
    display: flex;
    flex-direction: column;   
    height: auto;
}
.product-card-footer {
    flex-direction: column;
    justify-content: space-between;
}
.product-card-footer .btn{
    border-radius: 0;
    
}
.product-card-footer .btn-secondary-outline {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0.01rem;
}
.cateogory li input,
.price li input {
    width: auto;
    height: auto;
    margin-right: 0.5rem;
}
.clear-btn {
    text-decoration: underline;
}
.clear-btn:hover {
    cursor: pointer;
    color: var(--paleblue);
}
/********** CARDS ************/
@media only screen and (max-width:1000px) {
    .aside-container {
        display: none;
    }
}