#aside{
    background-color: salmon;
}
#header {
    background-color: var(--white);
}
#content {
    background-color: beige;
}

/*********** GENERIC *********/
.grid-row-5 {
    grid-auto-rows: 5rem;
}
.grid-row-5 > * {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-end {
    justify-content: flex-end;
}
.flex-start {
    justify-content: flex-start;
}
.grid-row-3 {
    grid-auto-rows: 3rem;
}
.grid-col-2 {
    grid-template-columns: 25% 75%;
}
.grid-col-4 {
    grid-template-columns: 2fr 3fr 1fr 1fr;
}
.input-width {
    width: 25rem;
    max-width: 100%;
}
/***** utils ******/
.ml-1 {
    margin-left: calc(1*0.25rem);
}
/************ HEADER **********/
.logo{
    height: 4rem;
    width: 7rem;
}

.icon-badge {
    margin-left: 2.7rem;
    margin-top: -2.4rem;
    line-height: .6rem;
    width: 1.4rem;
    padding: 0.4rem 0.5rem 0.3rem 0.45rem;
}

/************ NAVIGATION *******/
.nav {
    padding: 0rem;
}
.nav > ul {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}