.authentication {
    display: flex;
}
.whishlist-container ,
.cart-container {
    margin: 5rem 0rem;
    padding: 5rem 0rem;
}
.card-img-container {
    height: 7.5rem;
}
.card-footer {
    gap: 0;
}
.wishlist-qty ,
.cart-qty {
    padding: 0.4rem;
    width: 2rem;
    line-height: 0;
}
.flex-direction-col {
    justify-content: center;
    align-items: baseline;
}
.whishlist-container main {
    display: flex;
    flex-wrap: wrap;    
    gap: 1rem;
}
.cart-container {
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (max-width:400px) {
    .whishlist-container main{
        flex-direction: column;
    }
    .cart-container , .cart-items {
        flex-direction: column;
        gap: 1rem;
    }
}
@media only screen and (max-width:600px) {
    .cart-container , .cart-items {
        flex-direction: column;
        gap: 1rem;
    }
}
@media only screen and (max-width:1024px) {
    .cart-container , .cart-items {
        flex-direction: column;
        gap: 1rem;
    }
}